RewriteEngine On
RewriteBase /TPE-Hoteles-Main/

# Permitir acceso a archivos y carpetas reales
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Reescribir todo lo demás
RewriteRule ^(.*)$ index.php?action=$1 [L,QSA]
